[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework = "==3.15.1"
mysqlclient = "*"
psycopg2 = "*"
psycopg2-binary = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.12"
